<% include partials/header %>



<div class="container">
    <div class="row">
        <% ponys.forEach(function(pony){ %>
        <div class="col s4">
            <div class="card medium">
                <div class="card-image">
                    <img src="<%= pony.image %>" alt="<%= pony.name %>">
                    <span class="card-title"><%= pony.name %></span>
                </div>
                <div class="card-content">
                    <p><%- pony.description.substring(0, 100) %>...</p>
                    
                </div>
                <div class="card-action">
                    <a href="/ponies/<%= pony._id%>">Read more...</a>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>



<% include partials/footer %>