<% include partials/header %>

<h3>This is the pony details page of <%= ponys.name %></h3>

<div class="container">
    <div class="row">
        <div class="col s12">
        <div class="card">
            <div class="card-image">
                <img class="pony-image" src="<%= ponys.image %>">
                <span class="card-title"><%= ponys.name %></span>
                <a class="btn-floating halfway-fab waves-effect waves-light red" href="/ponies/<%=ponys._id%>/edit"><i class="material-icons">edit</i></a>
            </div>
            <div class="card-content">
                <p>The Pony's color: <%= ponys.color %></p>
                <br>
                <p><%- ponys.description %></p>
            </div>
            <form id="delete" method="POST" action="/ponies/<%= ponys._id %>?_method=DELETE">
                <button class="waves-effect waves-light red darken-4 btn"><i class="material-icons right">clear</i> Delete Pony</button>
            </form>
        </div>
        </div>
    </div>
</div>

<% include partials/footer %>